.card {
  color: rgb(236, 141, 15);
  margin:10px;
  padding: 20px;
  border-radius: 20%;
  display: inline-block;
  width: 200px;
  background-color: white;
  background-image: url(../../../assets/pizza-card.jpg);

}
.card:hover {
  color: white;
  background-color: rgb(236, 141, 15);
}
@media (max-width: 887px) {
  .row {
   text-align: center;
   margin: 100px;
  }
}
@media (min-width: 400px) {
  .row {
   text-align: center;
   margin: 100px;
  }
}
