.card {
  color: orangered;
  margin: 10px;
  padding: 10px;
  background-color: rgb(231, 234, 245);
  border-radius: 20%;
  display: inline-block;
  width: 200px;
}
.card:hover {
  color: white;
  background-color: orangered;
}
@media (max-width: 887px) {
  .row {
   text-align: center;
   margin: 100px;
  }
}
@media (min-width: 400px) {
  .row {
   text-align: center;
   margin: 100px;
  }
}
