.card {
  color: rgb(236, 141, 15);
  margin: 5px;
  padding: 10px;
  border-radius: 20%;
  display: inline-block;
  width: 190px;
  box-shadow: 0px -2px 10px rgb(236, 141, 15), 1px -2px 0px rgb(236, 141, 15);
}
.card p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.card:hover {
  box-shadow: 0px -4px 25px rgb(236, 141, 15), 0px -2px 0px rgb(236, 141, 15);
}
@media (max-width: 887px) {
  .row {
   text-align: center;
   margin: 100px;
  }
}
@media (min-width: 400px) {
  .row {
   text-align: center;
   margin: 100px;
  }
}
