.ProductItem img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  height: 400px;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ProductItem {
  position: relative;
  flex: 0 0 30%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}
.ProductItem a {
  margin-top: 15px;
  text-decoration: none;
  text-align: center;

  background-color: #F5ECE3;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: 200px;
  padding: .8rem 1rem 1.2rem;
  text-align: center;
  border-top-left-radius: o;
  border-top-right-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ProductItem .price {
  position: absolute;
  top: -1.5rem;
  right: -15px;
  
  background-color: #F5ECE3;
  color: black;
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
