.Header {
  position: relative;
  margin-bottom: 1.4rem;
}

.Header img {
  height: 70vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  margin: 1rem 0;
}
.Header img {
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}
.Header h1 {
 color: orangered;
 margin: 4rem 0 0;
}
.Header p {
  color: white;
  margin: 2rem 0;
}
.Header button {
  font-family: 'Libre Baskerville', serif;
  background-color: orangered;
  color: white;
  margin: 1rem 0;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 2rem;
}

