.container {
  max-width: 1200px;
 margin: 0 auto;
 padding: .5rem;
}
.Header {
  min-height: 80vh;
  max-width: 1440px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-size: cover;
  color: white;
  background-size: inherit;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.Header h1 {
  margin-left: 30px;
  font-size: 1.9rem;
  letter-spacing: .1em;
  color: black;
}
.Header p {
  margin-left: 30px;
  font-size: 1.1rem;
  letter-spacing: .1em;
  color: black;
}