.Header {
  min-height: 60vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-size: cover;
  color: white;
  background-size: inherit;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(157, 218, 167, 0.925);
}

.Header h1 {
  margin-left: 30px;
  font-size: 1.9rem;
  letter-spacing: .1em;
}
