.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(238, 228, 218, 1);
  color: rgb(194, 190, 190);
  padding: 0 1.5rem;
  font-size: 1.9rem;
  letter-spacing: .1em;
  
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
