.Nav {
  background-color: rgb(4, 12, 36);
  color: rgb(236, 141, 15);
  padding: 0 1.5rem;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 2rem;
 
}
.Nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 987px;
  margin: 0 auto;
  padding: 0 1rem;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media (max-width: 850px) {
  ul {
    flex-direction: column;
    margin: 1rem 0;
  }
}
.Nav button {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  background-color: orange;
  width: 80px;
  height: 40px;
  border-radius: 2rem;
  border-color: rgb(236, 141, 15);
}
.number {
  position: absolute;
  width: 18px;
  height: 15px;
  padding: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  color: white;
  background-color: orange;
  border: 1px orange solid;
  border-radius: 50%;
  left: 5px;
  bottom: .1rem;
  text-decoration: none;
  position: relative;
}

