.Nav {
  background-color: 
  #F5ECE3;
  color: black;
  padding: 0 1.5rem;
  font-size: 1.9rem;
  letter-spacing: .1em;
  
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.Nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
