
.Footer {
  margin: 3rem;
  text-align: center;
  color: white;
  flex-wrap: wrap;
  border-top: 1px solid orangered;
}
.Footer .line-h {
  line-height: 35px;
}
.Footer h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: orangered;
}
.Footer p {
  font-size: .8rem;
  font-weight: 300;
}
.Footer aside {
  font-size: .8rem;
  font-weight: 400;
}
.Footer .display {
  display: flex;
}
.Footer .display img {
  margin: 15px;
}

