
.Footer {
  background-color:  #F5ECE3;
  padding: 1rem;
  text-align: center;
  color: black;
}
.Footer .line-h {
  line-height: 35px;
}
.Footer h1 {
  font-size: 1.4rem;
  font-weight: 300;
}
.Footer p {
  font-size: .8rem;
  font-weight: 400;
}
.Footer aside {
  font-size: .8rem;
  font-weight: 400;
}
.Footer .display {
  display: flex;
}
.Footer .display img {
  margin: 15px;
}